
.btn {
  background-color: #9ec65d;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
body {
  background: url(../css/images/comidas.png);
}


.nounderline {
  text-decoration: none !important;
}

nav {
  border-top: 10px groove darkkhaki;
  border-bottom: 10px groove darkkhaki;
  background-color: #D0F88F;
}


.logout {
  margin: 3%;
}



.nombre {
  font-family: 'real_miamiregular', Impact, sans-serif;
  font-size: 100%;
}

.navbar-nav {
  text-align: center;
}

.item {
  margin: 1%;
  color: rgb(43, 42, 43);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(188, 228, 123);
  text-decoration: none;
  list-style: none;
}

.wrapper section p {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(43, 42, 43);
  text-align: justify;
}

h1 {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 150%;
  font-style: italic;
  font-family: 'real_miamiregular', Arial, sans-serif;
  color: rgb(43, 42, 43);
}

.img-desktop {
  border-radius: 10%;
}

.img-desktop.mave {
  border-radius: 50%;
}

.slogan {
  font-style: italic;
  color: green;
  text-align: center;
  font-size: 200%;
}

.row.sloganimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


footer {
  border: 5px solid rgb(33, 32, 33);
  background-color: rgb(43, 42, 43);
}

.contacto {
  padding-left: 4%;
  display: inline-block;
  width: 100%;
  font-size: 100%;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(188, 228, 123);
}

#copyright {
  margin-bottom: 0;
  margin-top: 5%;
  font-size: 8.5px;
}

.redessociales {
  display: center;
  margin-top: 0.5%;
  margin-right: 4%;
}

.iconos {
  margin-left: 8%;
  margin-right: 5%;
}

.radio {
  margin-left: 3%;
}

input.typinput {
  width: 100%;
}

.tableButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  margin-right: 0;
  margin-left: 0;
}


.footext {
  margin-bottom: 3%;
}

@media only screen and (max-width: 767px) {
  .navbar-brand .nombre, .aptdsk, .container.imgmuestra, img.logodsk, .img-desktop, img.mave, .imgplatos, .msj_redes_sociales{
    display: none;
  }
  
  .navbar {
    padding: 0;
  }

  img.logomob {
    display: initial;
  }

 .row.alergint div.row {
    border:0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  section.formulario {
    font-size: 90%;
  }
  
  footer {
    text-align: center;
  }

  .telefono {
    display: block;
  } 

 

}

@media only screen and (min-width: 768px) {

  h1 {
    font-size: 10px;
  }

  .carouselExampleControls {
    display: none;
  }

  a.navbar-brand {
    height: 60%;
    width: 49%;
  }

  .navbar-brand .nombre {
    display: initial;
    font-size: 150%;
  }

  img.logomob {
    display: initial;
  }

  img.logodsk, img.mave {
    display: none;
  }

  .row.alergint div.row {
    border:0;
  }

  .row.alergint .tituloformulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  th {
    border: 3px groove green;
    background-color: greenyellow;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .aptmob {
    display: none;
  }

  .aptdsk {
    display: table-cell;
  }

  .carousel.slide {
    display: none;
  }

  .msj_redes_sociales {
    display: initial;
  }

  footer section.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .imgplatos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


  div.footext, #copyright {
    display: flex;
    justify-content: space-around;
  }

  div.redessociales {
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1024px) {

  .carouselExampleControls {
    display: none;
  }

  a.navbar-brand {
    margin-right: 12%;
  }

  .carousel.slide, img.logomob {
      display: none;
  }

  img.logodsk, img.mave {
    display: initial;
  }

  .img-desktop {
    display: initial;
    margin-bottom: 5%;
  }

  .slogan {
    margin-top: 20%;
  }

  li.item {
    font-size: 110%;
  }

  article {
    font-size: 120%;
  }

  h1 {
    font-size: 300%;
  }

  .footext {
    font-size: 139%;
  }

  #copyright {
    font-size: 100%;
  }
}
/* ------------------------------------ NUESTROS PLATOS ---------------------------------*/


.btn_agregar {
  font-size: 30px;
  display: flex;
}

.formPlatos h1 {
  font-size: 50px;
}

.nuestros_platos {
  font-size: 60px;
}

.form_agregar {
  display: flex;
  justify-content: center;
}

.formPlatos {
  
  width: 50%;
  background-color: rgb(188, 228, 123);
  border: 10px groove darkkhaki;
  border-radius: 5%;
  margin-bottom: 5%;
  padding-bottom: 3%;
  
}

.formPlatos h2 {
  font-family: 'real_miamiregular', Arial, sans-serif;
  font-size: 40px;
}

.formPlatos form {
  margin-left: 4%;
}

.formPlatos input {
  margin-bottom: 5%;
}

.formPlatos select {
  font-size: 18px;
  margin-bottom: 3%;
}

.agregar_plato {
  font-size: 40px;
}

table {
  border: 10px groove darkkhaki;
  margin-bottom: 4%;
  width: 100%;
}

th {
  border: 3px groove green;
  background-color: greenyellow;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

tr, td {
  border: 3px dotted darkolivegreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabla_platos, .tabla_categorias {
  background-color: olivedrab;
  color: whitesmoke;
}

.menores_a_150 {
  background-color: rgb(94, 94, 223);
  color: whitesmoke;
}

.agregar {
  color: black;
  font-size: 40px;
}

td {
  text-align: center;
}

.dishpice, .dishpicpo, .dishpicpp {
  border: 10px groove darkkhaki;
  margin-bottom: 2%;
  width: 100%;
}

.dishpice {
  height: 30%;
  width: 30%;
}

.dishpicpp {
  height: 26%;
  width: 26.7%;
}

.dishpicpo {
  height: 28.2%;
  width: 28.2%;
}

/*------------------------------------ NUESTROS PLATOS ---------------------------------*/

.btn-submit {
  font-size: 22px;
  margin-top: 3%;
  background: rgb(168, 208, 103);
}

.contraseña {
  margin-top: 3%;
}

.formLogin {
  margin-top: 6%;
  background: linear-gradient(#9ec65d, #8aa83f);
}

.usuario {
  margin: 23%;
}